*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6rem;
  min-height: 50vh;
  font-family: "Roboto Mono", monospace; }

.container {
  background-image: url("/img/chalkboard.jpg");
  display: grid;
  grid-template-rows: min-content 60vh 40vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 50vh [sidebar-end full-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [full-end]; }

.sidebar {
  position: fixed;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  .sidebar__top {
    grid-column: 1/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .sidebar__top--list {
      grid-row: 2/4;
      grid-column: 2/4;
      text-transform: uppercase;
      font-size: 2rem;
      list-style: none; }
      .sidebar__top--list--item {
        margin-top: 1.5rem; }
    .sidebar__top--item {
      text-decoration: none;
      color: white; }
      .sidebar__top--item:hover {
        color: red; }
  .sidebar__middle {
    grid-column: 1/5;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .sidebar__middle--img {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      border-style: solid;
      border-color: white; }
    .sidebar__middle--cart {
      fill: white;
      width: 3rem;
      height: 3rem;
      grid-column: 2/3;
      grid-row: 3/4;
      justify-self: center; }
      .sidebar__middle--cart:hover {
        fill: red; }
  .sidebar__footer {
    color: white;
    grid-row: 5/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transition: transform .3s; }
    .sidebar__footer:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .sidebar__footer--a {
      font-size: 15rem;
      font-family: "Archivo Black", sans-serif;
      grid-row: 1/2;
      grid-column: 2/3; }
    .sidebar__footer--r {
      font-size: 15rem;
      font-family: "Archivo Black", sans-serif;
      grid-row: 2/3;
      grid-column: 2/3; }
    .sidebar__footer--tsy {
      font-size: 15rem;
      font-family: "Archivo Black", sans-serif;
      grid-row: 3/span 2;
      grid-column: 2/-1; }

.main-section {
  grid-column: full-start/full-end;
  grid-row: 1/-1;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, min-content); }

.header {
  grid-column: 1/-1;
  grid-row: 1/6;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 20rem repeat(8, min-content); }
  @media only screen and (max-width: 112em) {
    .header {
      grid-template-rows: 10rem repeat(8, min-content); } }
  .header__title {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(9, 1fr); }
    @media only screen and (max-width: 112em) {
      .header__title {
        grid-row: 1/1;
        grid-column: 1/-1; } }
    .header__title--text {
      font-size: 3rem;
      color: #F9F9F9;
      grid-column: 1/5;
      grid-row: 3/4; }
      @media only screen and (max-width: 112em) {
        .header__title--text {
          font-size: 3rem;
          color: #F9F9F9;
          grid-column: 2/5;
          grid-row: 2/3;
          align-self: flex-end; } }
    .header__title--hor {
      height: 5px;
      background-color: #eee;
      grid-column: 1/-1;
      grid-row: 3/4;
      align-self: flex-end; }
  .header__profile {
    grid-row: 3/-1;
    grid-column: 3/8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, min-content);
    gap: 1rem; }
    @media only screen and (max-width: 112em) {
      .header__profile {
        grid-row: 2/-1;
        grid-column: 1/8; } }
    .header__profile--picture {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      grid-row: 2/4;
      grid-column: 4/6;
      place-self: center;
      border-style: solid;
      border-color: white; }
      @media only screen and (max-width: 112em) {
        .header__profile--picture {
          grid-row: 2/4;
          grid-column: 2/5; } }
    .header__profile--full_names {
      grid-row: 5/6;
      grid-column: 3/7;
      font-size: 1.7rem;
      height: 4rem;
      padding-left: 5px;
      padding-right: 5px; }
      @media only screen and (max-width: 112em) {
        .header__profile--full_names {
          grid-row: 5/6;
          grid-column: 1/6; } }
    .header__profile--email {
      grid-row: 6/7;
      grid-column: 3/7;
      font-size: 1.7rem;
      height: 4rem;
      padding-left: 5px;
      padding-right: 5px; }
      @media only screen and (max-width: 112em) {
        .header__profile--email {
          grid-row: 6/7;
          grid-column: 1/6; } }
    .header__profile--phone-number {
      grid-row: 7/8;
      grid-column: 3/7;
      font-size: 1.7rem;
      height: 4rem;
      padding-left: 5px;
      padding-right: 5px; }
      @media only screen and (max-width: 112em) {
        .header__profile--phone-number {
          grid-row: 7/8;
          grid-column: 1/6; } }
    .header__profile--address {
      grid-row: 8/10;
      grid-column: 3/7;
      font-size: 1.7rem;
      height: 4rem;
      padding-left: 5px;
      padding-right: 5px; }
      @media only screen and (max-width: 112em) {
        .header__profile--address {
          grid-row: 8/10;
          grid-column: 1/6; } }
    .header__profile--btn {
      grid-row: 10/11;
      grid-column: 3/7;
      font-size: 1.7rem;
      height: 4rem;
      padding-left: 5px;
      padding-right: 5px; }
      @media only screen and (max-width: 112em) {
        .header__profile--btn {
          grid-row: 10/11;
          grid-column: 1/6; } }

.menu {
  margin-top: 3rem;
  grid-row: 1/3;
  grid-column: 1/-1; }
  .menu::after {
    margin-top: 2rem;
    content: " ";
    display: block;
    border-bottom: 3px solid #ffffff;
    border-width: 1.5rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }
  .nav__link--active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.middle {
  grid-row: 3/-1;
  grid-column: 1/-1;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .middle__user1 {
    margin: 6rem 2rem;
    width: 45rem;
    height: 55rem;
    transition: transform .3s; }
    .middle__user1::after {
      margin-top: 2rem;
      content: " ";
      display: block;
      border-bottom: 3px solid #ffffff;
      border-width: 1.5rem; }
    .middle__user1:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .middle__user1--img {
      width: 100%;
      height: 50%;
      object-fit: cover; }
    .middle__user1--name {
      font-size: 3rem;
      color: orangered;
      margin: 1.5rem 0; }
    .middle__user1--desc {
      color: white;
      font-size: 1.8rem;
      line-height: normal;
      text-justify: auto; }

.orders {
  grid-row: 3/-1;
  grid-column: 1/-1;
  margin-top: 2rem;
  display: grid;
  margin: 6rem 0;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .order__img {
    width: 100%;
    height: 20rem;
    grid-row: 1/2;
    grid-column: 1/-1;
    object-fit: cover;
    z-index: 1; }
  .order__price {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 80%;
    justify-self: center;
    align-self: end;
    z-index: 3;
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .order__desc {
    grid-column: 1/-1;
    grid-row: 2/3;
    font-size: 1.5rem;
    color: white; }
  .order__btn {
    grid-column: 1/-1;
    grid-row: 3/4; }

.btn {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #eee; }

.login-body {
  background-image: url(/img/wai_bg.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr); }
  .login-body__form {
    background-color: black;
    background-size: cover;
    opacity: 0.8;
    grid-row: 1/-1;
    grid-column: 5/-1;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr); }
    @media only screen and (max-width: 43.75em) {
      .login-body__form {
        width: 100%;
        min-height: 100%; } }
    .login-body__form--art {
      grid-row: 1/5;
      grid-column: 1/-1;
      width: 70%;
      height: 70%;
      margin-top: 1rem;
      place-self: center; }
      @media only screen and (max-width: 100em) {
        .login-body__form--art {
          width: 60%;
          height: 60%;
          place-self: center; } }
      @media only screen and (max-width: 43.75em) {
        .login-body__form--art {
          width: 80%;
          height: 80%;
          place-self: center; } }
      @media only screen and (max-width: 31.25em) {
        .login-body__form--art {
          width: 60%;
          height: 60%;
          grid-row: 1/3;
          place-self: center; } }
    .login-body__form--zone {
      margin-top: 1rem;
      grid-row: 5/8;
      grid-column: 4/8; }
      @media only screen and (max-width: 131em) {
        .login-body__form--zone {
          grid-row: 5/8;
          grid-column: 3/-1; } }
      @media only screen and (max-width: 112em) {
        .login-body__form--zone {
          grid-row: 5/8;
          grid-column: 3/-1; } }
      @media only screen and (max-width: 100em) {
        .login-body__form--zone {
          grid-row: 5/8;
          grid-column: 3/-1; } }
      @media only screen and (max-width: 62.5em) {
        .login-body__form--zone {
          grid-row: 5/8;
          grid-column: 2/-1; } }
      @media only screen and (max-width: 31.25em) {
        .login-body__form--zone {
          grid-row: 3/-1;
          grid-column: 2/-1; } }
      .login-body__form--zone > * {
        border-radius: 5px;
        width: 70%; }
        @media only screen and (max-width: 62.5em) {
          .login-body__form--zone > * {
            width: 90%; } }
      .login-body__form--zone--email {
        font-size: 1.7rem;
        padding: 5px;
        border: 0;
        height: 4rem; }
      .login-body__form--zone--password {
        margin-top: 1rem;
        font-size: 1.7rem;
        padding: 5px;
        border: 0;
        height: 4rem; }
      .login-body__form--zone--submit {
        margin-top: 2rem;
        font-size: 2rem;
        padding: 5px;
        border: 0;
        height: 5rem;
        color: white;
        background-color: #e0436b;
        transition: all .2s; }
        .login-body__form--zone--submit:hover {
          background-color: white;
          color: #e0436b; }
      .login-body__form--zone--already {
        color: white;
        font-size: 1.2rem;
        margin-top: 1rem; }
      .login-body__form--zone--register-btn {
        grid-row: 7/8;
        margin-top: 2rem;
        grid-column: 4/8;
        font-size: 2rem;
        border: 0;
        text-align: center;
        height: 5rem;
        color: white;
        background-color: #6759ae;
        transition: all .2s; }
        .login-body__form--zone--register-btn:hover {
          background-color: white;
          color: #e0436b; }
      .login-body__form--zone--google-btn {
        grid-row: 7/8;
        margin-top: 4rem;
        grid-column: 4/8;
        font-size: 2rem;
        border: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5rem;
        color: white;
        background-color: red; }
        .login-body__form--zone--google-btn--icon {
          width: 2rem;
          height: 2rem;
          fill: white; }
  .login-body__title {
    color: white;
    grid-row: 2/6;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    transition: transform .3s; }
    @media only screen and (max-width: 78em) {
      .login-body__title {
        grid-row: 2/5;
        grid-column: 2/4; } }
    @media only screen and (max-width: 62.5em) {
      .login-body__title {
        grid-row: 2/4;
        grid-column: 2/4; } }
    .login-body__title > * {
      font-size: 15rem;
      font-family: "Archivo Black", sans-serif; }
      @media only screen and (max-width: 100em) {
        .login-body__title > * {
          font-size: 12rem; } }
      @media only screen and (max-width: 87.5em) {
        .login-body__title > * {
          font-size: 10rem; } }
      @media only screen and (max-width: 78em) {
        .login-body__title > * {
          font-size: 7rem; } }
      @media only screen and (max-width: 62.5em) {
        .login-body__title > * {
          font-size: 7rem; } }
      @media only screen and (max-width: 43.75em) {
        .login-body__title > * {
          display: none; } }
    .login-body__title:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .login-body__title--a {
      grid-row: 1/2;
      grid-column: 1/2; }
    .login-body__title--r {
      grid-row: 2/3;
      grid-column: 1/2; }
    .login-body__title--tsy {
      grid-row: 3/span 2;
      grid-column: 1/-1; }
