.main-section{
   
    grid-column: full-start/full-end;
    grid-row: 1/-1;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,min-content);

    position: relative;
}

.header{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 20rem;
    @media  only screen  and (max-width:$bp-xxlarge){
        grid-template-rows: 10rem repeat(8,min-content);
   
     
      
     }
    
    

    &__title{
        grid-row: 1/span 1;
        grid-column: 1/-1;
        
        display:grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(9,1fr);
        @media  only screen  and (max-width:$bp-xxlarge){
        
            grid-row: 1/1;
           grid-column: 1/-1;
       
         
          
         }
        
        
        &--text{
            font-size: 3rem;
            color:$color-grey-dark-2;
            grid-column: 1/5;
            grid-row: 3/4;
            @media  only screen  and (max-width:$bp-xxlarge){
                
                font-size: 3rem;
                color:$color-grey-dark-2;
                grid-column: 2/5;
                grid-row: 2/3;
                align-self: flex-end;
           
             
              
             }
        }
        &--hor{
            height: 5px;
            background-color: #eee;
            grid-column: 1/-1;
            grid-row:3/4;
            align-self: flex-end;
    
        }

    }
    

  

}

.content{
    grid-row:2/-1;
    grid-column: 3/8;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(14,min-content);
    gap: 1rem;
    @media  only screen  and (max-width:$bp-xxlarge){
     grid-row:2/-1;
     grid-column: 1/8;

  
   
  }


     &__picture{
         width: 10rem;
         height: 10rem;
         border-radius: 100%;
         grid-row: 2/4;
         grid-column: 4/6;
         place-self: center;
         
        border-style: solid;
        border-color: white;
        @media  only screen  and (max-width:$bp-xxlarge){
         grid-row: 2/4;
         grid-column: 2/5;
    
      
       
      }
       
     }

     &__full_names{
         grid-row: 5/6;
         grid-column: 3/7;
         font-size: 1.7rem;
         height: 4rem;
        
         padding-left: 5px;
         padding-right: 5px;
         
         @media  only screen  and (max-width:$bp-xxlarge){
             grid-row: 5/6;
         grid-column: 1/6;
        
          
           
          }
     }
     &__email{
         grid-row: 6/7;
         grid-column: 3/7;
         font-size: 1.7rem;
         height: 4rem;
         padding-left: 5px;
         padding-right: 5px;
         @media  only screen  and (max-width:$bp-xxlarge){
             grid-row: 6/7;
         grid-column: 1/6;
        
          
           
          }
     }
     &__phone-number{
         grid-row: 7/8;
         grid-column: 3/7;
         font-size: 1.7rem;
         height: 4rem;
         padding-left: 5px;
         padding-right: 5px;
         @media  only screen  and (max-width:$bp-xxlarge){
             grid-row: 7/8;
         grid-column: 1/6;
        
          
           
          }
     }
     &__address{
         grid-row: 8/10;
         grid-column: 3/7;
         font-size: 1.7rem;
         height: 4rem;
         padding-left: 5px;
         padding-right: 5px;
         @media  only screen  and (max-width:$bp-xxlarge){
             grid-row: 8/10;
         grid-column: 1/6;
        
          
           
          }
     }
     &__btn{
         grid-row: 10/11;
         grid-column: 3/7;
         font-size: 1.7rem;
         height: 4rem;
         padding-left: 5px;
         padding-right: 5px;
         @media  only screen  and (max-width:$bp-xxlarge){
             grid-row: 10/11;
         grid-column: 1/6;
        
          
           
          }
     }
 }



.menu{
 margin-top: 3rem;
 grid-row: 1/3;

 grid-column: 1/-1;

 &::after {
     margin-top: 2rem;
    content: " ";
    display: block;
    border-bottom: 3px solid #ffffff;
    border-width: 1.5rem;
  }
}
.nav{
    
    list-style:none;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited{
font-size: 1.7rem;
color: #fff;
text-decoration: none;
font-family: $font-display;
text-transform: uppercase;
text-align: center;
padding: 1.5rem;
display: block;
transition: all .2s;


    }
   &__link:hover,
   &__link:active{
    background-color: rgba($color: #fff, $alpha: 0.05);
    transform: translateY(-3px);
   }
   &__link--active{
    background-color: rgba($color: #fff, $alpha: 0.05);
    transform: translateY(-3px);
   }
   
   

}
.middle{
    grid-row: 3/-1;
    grid-column: 1/-1;
    margin-top: 2rem;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

    &__user1{
        margin: 6rem 2rem;
        width:45rem;
        height: 55rem;
        &::after {
            margin-top: 2rem;
           content: " ";
           display: block;
           border-bottom: 3px solid #ffffff;
           border-width: 1.5rem;
         }
         transition: transform .3s;
            
         &:hover{
             transform: translateY(-1.5rem) scale(1.03);
         }

        &--img{
            width: 100%;
           height: 50%;
           object-fit: cover;
        }

        &--name{
          font-size: 3rem;
          color: orangered;
          margin: 1.5rem 0;
         
        }

        &--desc{
            color: white;
            font-size: 1.8rem;
            line-height: normal;
            text-justify: auto;

        }
    }
}

